Package: com.ninjaprawn.colorbar
Name: ColorBar
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Customize your status bar!
Maintainer: Ninjaprawn
Author: Ninjaprawn
Section: Tweaks
